* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #e42626;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    list-style-type: none;
}

.navbar-left li {
    display: inline-block;
    margin-right: 30px;
}

.navbar-left li:first-child {
    margin-right: auto;
}

.navbar-left li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-right {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right li {
    margin-right: 30px;
}

.navbar-right li:last-child {
    margin-right: 0;
}

.navbar-right li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
}

.table {
    border-collapse: collapse;
    margin-left: 20px;
}

.cell {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table tr th {
    border-top: 1px solid black;
    padding-top: 10px;
}

.heading {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    width: fit-content;
}

.link {
    display: block;
    width: fit-content;
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #e42626;
}

.field {
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
    border: 1px solid white;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-color: black;
    border-radius: 8px;
    width: 200px;
    text-align: left;
    padding: 10px;
}

.update-field {
    border: 1px solid white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border-color: black;
    border-radius: 8px;
    width: 200px;
    text-align: left;
    padding: 10px;
}

.form-group {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

form {
    width: fit-content;
    position: relative;
}

.submit {
    display: block;
    margin-left: 20px;
    border: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    background-color: #e42626;
    border-radius: 8px;
    width: 200px;
    text-align: center;
    padding: 10px;
    color: white;
    cursor: pointer;
    position: absolute;
    right: 0;
}

p.error {
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #e42626;
    width: 200px;
    text-align: center;
}

.search-form {
    margin-left: 20px;
}

.search-field {
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 8px;
    border: none;
    border-radius: 8px;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
    outline: none;
    background-color: transparent;
}

.search-button {
    display: none;
}

.button {
    font-size: 16px;
    font-family: Arial, sans-serif;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
}