* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

nav {
    background-color: #e42626;
    padding: 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li {
    margin-left: 40px;
}

nav ul li:first-child {
    font-size: 30px;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.main-content {
    width: fit-content;
    margin: 40px auto 0 auto;
}

.heading {
    margin-bottom: 20px;
}

.search-field {
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.search-field:focus {
    outline: none;
}

.search-button {
    display: none;
}

table {
    border-collapse: collapse;
}

.cell {
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: left;
}

.button {
    font-size: 16px;
    border: none;
    background-color: transparent;
    color: black;
    cursor: pointer;
}

.link {
    display: inline-block;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px;
    background-color: #e42626;
}

.error {
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    background-color: #e42626;
    width: 200px;
    text-align: center;
    margin-left: 100px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}

.field {
    border: 1px solid white;
    font-size: 16px;
    background-color: #fff;
    border-color: black;
    border-radius: 8px;
    width: 200px;
    text-align: left;
    padding: 10px;
}

.submit {
    color: white;
    border: none;
    background-color: #e42626;
    border-radius: 8px;
    width: 200px;
    padding: 10px;
    font-size: 16px;
    margin-left: 100px;
}